# Node
node_modules/

# Python
myvnv/
venv/
__pycache__/
*.pyc

# Environment variables
.env

# Build files
dist/
build/
.env
.env.*
!.env.example

.venv/
.vnv/
.vnv
venv/
env/
__pycache__/
*.py[cod]

*.db
*.db-shm
*.db-wal

node_modules/
.next/
out/
dist/
build/
